ion-item{
    --background:none;
}

ion-content{
    --background: url('../../assets/back1.jpg');
    
}
ion-label{
   // font-weight: bold; 
   // font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
}
ion-card{
    background-color: #fff;
}

padding{
   margin-top: 40px; 
}