<ion-content>
  <ion-card>
      <ion-item >
          <ion-title><h3>Movie List </h3></ion-title>
      </ion-item>
  </ion-card>
<ion-card>
    
  <ion-img src="assets/movie.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>3M views</ion-card-subtitle>
      <ion-card-title>Thackeray</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button color="success" (click)="onLogin()" >ViewRating</ion-button>
    <ion-button color="danger" style="float: right" (click)="onLogin()" >BookNow</ion-button>
  </ion-card>

  <ion-card>
      <ion-img src="assets/movie1.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>20k views</ion-card-subtitle>
          <ion-card-title>KGF</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
        <ion-button color="success" (click)="onLogin()" >ViewRating</ion-button>
        <ion-button color="danger" style="float: right" (click)="onLogin()" >BookNow</ion-button>
      </ion-card>
      <ion-card>
          <ion-img src="assets/movie3.jpg"></ion-img>
            <ion-card-header>
              <ion-card-subtitle>20k views</ion-card-subtitle>
              <ion-card-title>AquaMan</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
            <ion-button color="success" (click)="onLogin()" >ViewRating</ion-button>
            <ion-button color="danger" style="float: right" (click)="onLogin()" >BookNow</ion-button>
          </ion-card>
    </ion-content>