<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-slides #mSlider (ionSlidesDidLoad)="slidesDidLoad1(mSlider)" autoplay="5000" loop="true" speed="3000" pager="true">
        <ion-slide  *ngFor = "let banners of slideData">
          <img src={{banners.image}}>
        </ion-slide>
      </ion-slides><br/>
<ion-title class="title2">Movies</ion-title><br/>
    
           
              <ion-slides #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)" autoplay="5000" loop="true" speed="5000" pager="true">
<!--                  
                <ion-slide *ngFor = "let list of movieList">
                    <ion-card>
              <img width="60px" height="110" src={{list.image}}>
              <ion-label class="text">{{list.name}}</ion-label><br/>
              <ion-item lines="none">
                  <ion-icon color="danger" class="icon" name="heart"></ion-icon>
                  <ion-label class="text2">{{list.rating}}</ion-label>
              </ion-item>
            </ion-card>
          </ion-slide> -->
          <ion-card>
          <ion-slide>
            
              <img src="/assets/movie.jpg" width="560px" height="100px" alt="">
             
              <ion-item lines="none">
                  <ion-icon color="danger" class="icon" name="heart"></ion-icon>
                  <ion-card-subtitle>rating:80</ion-card-subtitle>
              </ion-item>
            </ion-slide>
          </ion-card>
          <ion-card>
            <ion-slide>
              
              <img src="/assets/movie1.jpg" width="560px" height="100px" alt="">
            
              <ion-item lines="none">
                  <ion-icon color="danger" class="icon" name="heart"></ion-icon>
                  <ion-label class="text2">rating:80</ion-label>
              </ion-item>
            </ion-slide>
          </ion-card>
          <ion-card>
                  <ion-slide>
                  
                      <img src="/assets/movie1.jpg" width="560px" height="100%" alt="">
                    
                      <ion-item lines="none">
                          <ion-icon color="danger" class="icon" name="heart"></ion-icon>
                          <ion-card-subtitle>rating:80</ion-card-subtitle>
                      </ion-item>
                    </ion-slide>
            </ion-card>
          <ion-card>
            <ion-slide>
              <img src="/assets/movie3.jpg" width="560px" height="100%" alt="">
              <ion-item lines="none">
                  <ion-icon color="danger" class="icon" name="heart"></ion-icon>
                  <ion-card-subtitle>rating:80</ion-card-subtitle>
              </ion-item>
            </ion-slide>
          </ion-card>
          </ion-slides>
        
        
</ion-content>

